#contato .bebidas-header ul li .btn-ligado {
    /* a cor esta do global */
    border-radius: 10px;
    padding: 6px;
}    

.singup .signup-cad label {
    margin-left: 235px;

}

.singup .signup-cad input {
    margin-left: 235px;

}

.signup-tex {
    width: 1063px;
    margin-left: 235px;
    height: 363px;
    border: 1px solid var(--back-bebidas);
}

.contato-enviar {
    display: grid;
    color: var(--titulo-banner);
    justify-content: center;
    background: var(--btn-base);
    padding: 20px 80px 20px 80px;
    font-family: 'Roboto';
    width: 66px;
    height: 28;
    font-weight: 400;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 1130px;
}
/* home-footer */
#contato .footer {
    width: 1440px;
    height: 351px;
    background: var(--bg-footer);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contato .home-rede h1 {
    display: block;
    width: 296px;
    height: 56px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
    line-height: 56.25px;
    margin-top: 117px;
    margin-left: 105px;
    color: var(--titulo-banner);
}

#contato .home-rede img {
    padding: 20px 0 0 95px;
    margin-top: 0px;
    gap: 20px;

}

#contato .home-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    
}

#contato .home-news label{
    grid-column: 1/-1;
    margin-top: 90px;
    width: 245px;
    height: 56px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
    line-height: 56.25px;
    color: var(--titulo-banner);
   
}

#contato .home-news input {
    font-size: 36px;
    margin-bottom: 80px;
}
#contato .home-news a {
    width: 105px;
    height: 28px;
    margin-left: 10px;
    color: var(--titulo-banner);
    padding: 10px;
    padding-right: 150px;
    padding-bottom: 40px;
    background: var(--btn-base);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    line-height: 28.13px;
    margin-bottom: 80px;


}

@media (max-width: 450px) {

    #contato .footer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr ;
    }
    #contato .home-rede h1 {
        display: none;
    }
    #contato .home-news {
        display: none;
    }
    #contato .home-news label{
        display: none;
    }
    
    #contato .home-news input {
        display: none;
    }
    #contato .home-news a {
        display: none;
    }
    #contato .home-rede img {
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-left: 45px;
        display: grid;
        grid-template-columns: 1fr;
    
    }
}
